@griddex:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${c001a82d-ab9c-4c47-a4a3-a0890a9e1b9a}
# @GITHUB_USERNAME:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=AUTH_TOKEN
# always-auth=true