@griddex:registry=https://registry.npmjs.org/
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
# @GITHUB_USERNAME:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=AUTH_TOKEN
# always-auth=true